<li>
<!-- DOC: with_collection_parameter and Additional arguments-->
    <%
=begin%>
 <h1>Teste Collections</h1>
    <h2><%= @item.name %></h2>
    <span><%= @notice %></span>
<%
=end%>


<!-- DOC: Collection counter-->
 <%
=begin%>
 <%= @counter %> <%= @product.name %>
<%
=end%>


<!-- DOC: Collection counter -->
    <%= @product.name %>
</li>
